html {
    font-size: 1em;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
article,
main {
    display: block;
}
img {
    border-style: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

@font-face {
    font-family: TIGR;
    src: url(/fonts/TIGR.woff2) format("woff2"),
        url(/fonts/TIGR.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-display: fallback;
}

@font-face {
    font-family: Nostra;
    src: url(/fonts/Nostra.woff2) format("woff2"),
        url(/fonts/Nostra.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-display: fallback;
}

body {
    --color-bd: hsl(0, 0%, 100%);
    --color-hd: hsl(0, 0%, 93.7%);
    --color-bg: hsl(0, 0%, 0.7%); /* 2.7% */
    --fs-h1: 2.25em;
    --fs-h2: 1.5em;
    --col-max-w: 600px;
    min-height: 100vh;
    background-color: var(--color-bg);
    font-family: TIGR, sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: var(--color-bd);
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        --fs-h1: 1.5em;
        --fs-h2: 1em;
    }
}

p {
    margin: 0 0 1.25em;
}
h1,
h2 {
    margin: 2.75rem 0 1rem;
    font-weight: 400;
    line-height: 1.15;
    color: var(--color-hd);
}
h2 {
    font-size: var(--fs-h2);
}

.page__header {
    margin: 0 auto;
    max-width: var(--col-max-w);
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(
            0deg,
            var(--color-bg) 0%,
            transparent 50%,
            transparent 100%
        ),
        no-repeat 50% / cover url(/img/1.jpg);
}

.page__header > .title {
    font-size: var(--fs-h1);
    max-width: var(--col-max-w);
    word-wrap: break-word;
    color: var(--color-hd);
}
.page__header .title span {
    font-family: Nostra;
    color: var(--color-bd);
}
.page__header .title::first-line {
    text-transform: uppercase;
    color: var(--color-bd);
}

.page__content {
    margin: 0 auto;
    max-width: var(--col-max-w);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    border-width: 0 1px;
    border-style: solid;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-source: none;
    border-image-width: 1;
    -moz-border-image: -moz-linear-gradient(
        90deg,
        transparent 0%,
        var(--color-bd) 50%,
        transparent 100%
    );
    -webkit-border-image: -webkit-linear-gradient(
        90deg,
        transparent 0%,
        var(--color-bd) 50%,
        transparent 100%
    );
    border-image: linear-gradient(
        0deg,
        transparent 0%,
        var(--color-bd) 50%,
        transparent 100%
    );
    border-image-slice: 1;
}

.content__img {
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(var(--color-bg)),
        to(transparent)
    );
    mask-image: linear-gradient(
        180deg,
        var(--color-bg) 0%,
        var(--color-bd) 50%,
        transparent 100%
    );
}
